@model Neverland.Web.ViewModels.RegisterViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <h1>Sign Up</h1>

    <form method="post">
        @*<input type="text" name="name" value=""/>*@
        <input placeholder="User Name" asp-for="UserName" />
        <input placeholder="Password" asp-for="Password"/>
        <input placeholder="Confirm Password" asp-for="ConfirmPassword"/>
        @*<input asp-for="Roles"/>*@
        <input placeholder="Email" asp-for="Email"/>
        <input placeholder="Birthday" asp-for="Birthday" type="date"/>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
            <option>

            </option>
        </select>
        <button type="submit" name="save">submit</button>
    </form>
</body>

