
@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <title>Neverland</title>
    </head>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


</body>

</html>