@model Neverland.Web.ViewModels.OrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>order movie-id=@ViewBag.Id</h1>


<body>
    <h1>Create user</h1>

    @*<form method="post">*@
        @*<input type="text" name="name" value=""/>*@
       @*<input placeholder*@
        @*<input placeholder="User Name" asp-for="User.UserName" />*@
        @*<input placeholder="Password" asp-for="Password"/>*@
        @*<input asp-for="Roles"/>*@
        @*<input placeholder="Email" asp-for="User.Email"/>*@
        @*<button type="submit" name="save">submit</button>*@
    @*</form>*@
</body>

